# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/

# Environment variables
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
data/2026_Gaz_place_national.zip